<aside class="main-sidebar">
  <section class="sidebar">
    
    <ul class="sidebar-menu" data-widget="tree">

      <li class="treeview">
        <a routerLink="/dashboard">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-database"></i>
          <span>Cadastros</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a routerLink="/alunos"><i class="fa fa-circle-o"></i> Alunos</a></li>
          <li><a routerLink="/atividades"><i class="fa fa-circle-o"></i> Atividades</a></li>
          <li><a routerLink="/contratos"><i class="fa fa-circle-o"></i> Contratos</a></li>
          <li><a routerLink="/cursos"><i class="fa fa-circle-o"></i> Cursos</a></li>
          <li><a routerLink="/docentes"><i class="fa fa-circle-o"></i> Docentes</a></li>
          <li><a routerLink="/documentos"><i class="fa fa-circle-o"></i> Documentos</a></li>
          <li><a routerLink="/empresas"><i class="fa fa-circle-o"></i> Empresas</a></li> 
        </ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
