

<sge-content-header nome="Aluno"></sge-content-header>
<div class="alert alert-success alert-dismissible" *ngIf="message">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <i class="icon fa fa-check"></i> <strong>{{ message.text }}</strong>
</div>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#cadastrarAlunos">Cadastrar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#listarAlunos">Listar</a>
  </li>
</ul>

<div class="tab-content">
  <div id="listarAlunos" class="tab-pane active">
      <div class="content-table">
        <div class="box-header box-header-custom">
          <h3 class="box-title">{{totalElements}} Alunos Cadastrados</h3>
          <div class="box-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" name="nome" [(ngModel)]="nome" class="form-control pull-right" placeholder="Search">
        
              <div class="input-group-btn">
                <button (click)="findByNome(nome)" type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
<!-- /.box-header -->
      <div class="box-body table-responsive no-padding" *ngIf="alunos != null && alunos.length > 0">
      <table class="table table-hover table-custom table-bordered">
      <tr class="table-header-custom">
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Prontuário</th>
        <th>Curso</th>
        <th>Ação</th>
      </tr>
      <tr *ngFor="let aluno of alunos">
        <td>{{aluno.nome}}</td>
        <td>{{aluno.email}}</td>
        <td>{{aluno.telefone}}</td>
        <td>{{aluno.prontuario}}</td>
        <td>{{aluno.curso.nome}}</td>
        <td>
            <span class="btn-align"><a (click)="edit(aluno)" class="edit"><i class="fa fa-edit"></i></a></span>
            <span class="btn-align"><a (click)="delete(aluno.id)" class="remove"><i class="fa fa-trash"></i></a></span>
        </td>
      </tr>
      </table>
      </div>
  </div>
  <div class="box-footer clearfix" *ngIf="alunos != null && alunos.length > 0">
    <ul class="pagination pagination-sm no-margin pull-right">
        <li><a href="" (click)="setPreviousPage($event)">&laquo;</a></li>  
        <li *ngFor="let p of pages; let i=index">
            <a [ngClass]="{'pagination-focus':i==page}"  href="" (click)="setPage(i,$event)">{{i+1}}</a>
        </li>
        <li><a href="" (click)="setNextPage($event)">&raquo;</a></li>
    </ul>
  </div>
</div>

<div id="cadastrarAlunos" class="tab-pane fade">
<div class="box box-primary content box-content-custom">
  <form [formGroup]="alunoForm" novalidate>
    <div class="box-body">
      <div class="row">
            <div class="col-xs-3">
                    <sge-input errorMessage="Prontuário é obrigatório" label="Prontuário">
                        <input class="form-control" formControlName="prontuario" autocomplete="off" placeholder="Prontuário">
                    </sge-input>
            </div>
          <div class="col-xs-9">
              <sge-input errorMessage="O nome deve conter no mínimo 3 caracteres" label="Nome">
                  <input class="form-control" formControlName="nome" autocomplete="off" placeholder="Nome">
              </sge-input>
          </div>
      </div>
      <div class="row">
          <div class="col-xs-2">
            <sge-input errorMessage="Telefone inválido" label="Telefone">
                <input class="form-control" formControlName="telefone" autocomplete="off" placeholder="Telefone">
            </sge-input>
          </div>
          <div class="col-xs-6">
            <sge-input errorMessage="Email inválido" label="Email">
                <input class="form-control" formControlName="email" autocomplete="off" placeholder="Email">
            </sge-input>
          </div>
          <div class="col-xs-4">
                <sge-input errorMessage="Curso é obrigatório" label="Curso">
                        <select formControlName="curso" class="form-control">
                                <option [ngValue]="curso" *ngFor="let curso of cursos"> {{curso.nome}}</option>
                        </select>
                </sge-input>
              </div>
      </div>
        <div class="row">
            <div class="box-footer">
                <button (click)="createOrUpdate(alunoForm.value)" class="btn btn-primary" [disabled]="alunoForm.invalid">Cadastrar</button>
            </div>
        </div>
      </div>
  </form>
</div>
</div>
</div>

