<sge-content-header nome="Curso"></sge-content-header>
<div class="alert alert-success alert-dismissible" *ngIf="message">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <i class="icon fa fa-check"></i> <strong>{{ message.text }}</strong>
</div>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#cadastrarCursos">Cadastrar</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#listarCursos">Listar</a>
  </li>
</ul>

    <div class="tab-content">
      <div id="listarCursos" class="tab-pane active">
          <div class="content-table">
            <div class="box-header box-header-custom">
              <h3 class="box-title">{{totalElements}} Cursos Cadastrados</h3>
              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="name" [(ngModel)]="name" class="form-control pull-right" placeholder="Search">
            
                  <div class="input-group-btn">
                    <button (click)="findByName(name)" type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
  <!-- /.box-header -->
  
          <div class="box-body table-responsive no-padding" *ngIf="cursos != null && cursos.length > 0">
          <table class="table table-hover table-custom table-bordered">
          <tr class="table-header-custom">
            <th class="col-md-1">Sigla</th>
            <th class="col-md-10">Nome</th>
            <th class="col-md-1">Ação</th>
          </tr>
          <tr *ngFor="let curso of cursos">
            <td class="col-md-1">{{curso.sigla}}</td>
            <td class="col-md-10">{{curso.nome}}</td>
            <td class="col-md-1">
                <span class="btn-align"><a (click)="edit(curso)" class="edit"><i class="fa fa-edit"></i></a></span>
                <span class="btn-align"><a (click)="delete(curso.id)" class="remove"><i class="fa fa-trash"></i></a></span>
            </td>
          </tr>
          </table>
          </div>
      </div>
      <div class="box-footer clearfix" *ngIf="cursos != null && cursos.length > 0">
        <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="" (click)="setPreviousPage($event)">&laquo;</a></li>  
            <li *ngFor="let p of pages; let i=index">
                <a [ngClass]="{'pagination-focus':i==page}"  href="" (click)="setPage(i,$event)">{{i+1}}</a>
            </li>
            <li><a href="" (click)="setNextPage($event)">&raquo;</a></li>
        </ul>
      </div>
    </div>

    <div id="cadastrarCursos" class="tab-pane fade">
    <div class="box box-primary content box-content-custom">
      <form [formGroup]="cursoForm" novalidate>
        <div class="box-body">
          <div class="row">
              <div class="col-xs-3">
                <sge-input errorMessage="A sigla deve conter 3 caracteres" label="Sigla">
                    <input class="form-control" formControlName="sigla" autocomplete="off" placeholder="Sigla">
                </sge-input>
              </div>
              <div class="col-xs-9">
                  <sge-input errorMessage="O nome deve conter no mínimo 3 caracteres" label="Nome">
                      <input class="form-control" formControlName="nome" autocomplete="off" placeholder="Nome">
                  </sge-input>
              </div>
          </div>
            <div class="row">
                <div class="box-footer">
                    <button (click)="createOrUpdate(cursoForm.value)" class="btn btn-primary" [disabled]="cursoForm.invalid">Cadastrar</button>
                </div>
            </div>
          </div>
      </form>
    </div>
    </div>
    </div>

